<div class="col-xs-8">
<h3>Current Projects</h3>
  <ul>
    <li><a href="lity.herokuapp.com">Lity (paused) - A ranking app for
    lifting.</a></li>
    <li>jamesyoun.com - a blog documenting my learning.</li>
    <li>rubylearning.org - pair programming with a mentor to develop
    production-ready code.</li>
  </ul>


<h3>About This Blog</h3>
  <ul>
    <p>This blog captures some of my thoughts on how I'm learning to code 
    as well as my career transition into full-time developing.</p>

    <p>I've been doing bizdev / sales for small companies and startups for
    the past 6 years and have been a passionate hobbyist for the past 2 years.
    Whether it be improving bottom lines or writing lines of code there's 
    something immensly satisfying in creating something into existance.
    </p>
  </ul>
</div>

<div class="col-xs-4"><h3>Contact Info</h3>
    <li><strong>Email:</strong> jamesyoun710 at gmail.com</li>
</div>
