<h3>Contact Info</h3>
  <ul>
    <li><strong>Email:</strong> jamesyoun710 at gmail.com</li>
    <li>LinkedIn</li>
    <li>Faceboo</li>
  </ul>


<h3>Current Projects</h3>
  <ul>
    <li>This Blog :)</li>
    <li>Lity - A ranking app for lifting</li>
  </ul>


<h3>About me</h3>
  <ul>
    <li>My github</li>
    <li>Love climbing and startups?</li>
  </ul>


