<h3>Comments</h3>
<% commentable.comments.each do |comment| %>
  <div class="well">
  <div class="row">
    <%= comment.body %>
    <div class="pull-right">
      <p><%= comment.user.first_name %> |
         <%= time_ago_in_words(comment.created_at) %> ago
      </p>
  </div>

  </div>
</div>
<% end %>


