<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Us</h1>
      <div class="btn-group">
        <a class="btn btn-google-plus btn-lg" href="https://www.linkedin.com/in/jamesyoun"><i class="icon-linkedin icon-large"></i> Linkedin</a>
        <a class="btn btn-github btn-lg" href="https://github.com/eternal44"><i class="icon-github icon-large"></i> Github</a>
        <a class="btn btn-facebook btn-lg" href="https://www.facebook.com/heungki.youn"><i class="icon-facebook icon-large"></i> Facebook</a>
      </div>

    </div>
  </div>
</div>
<hr>

